
body {
  text-align: right;
  font-family: 'Geist Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title {
  font-size: 60px;
  font-weight: 500;
}

.subheader-text {
  font-size: 16px;
  font-weight: 500;
}

.body-text {
  font-size: 14px;
  font-weight: 400;
  text-align: flex-end;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
}

.experience-title {
  font-size: 16px;
  font-weight: 500;
}

.experience-subtitle {
  font-size: 14px;
}

.experience-org {
}

.experience-date {
}

.project-tech {
  font-size: 14px;
}
