
/* Icons */

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}

/* Navbar Styling */

.navbar {
  padding: 30px 425px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  z-index: 10;
}

.nav-link {
  color: #97999a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav-link:hover {
  color: black;
}

.nav-link.active {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* Page visibility */

.page {
  display: none;
}

.page.active {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

@media only screen and (max-width: 1600px) {
  .navbar {
    padding: 30px 275px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 30px 175px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 30px 75px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
  }
}

/* Links */

.inline-link {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.inline-link-ai {
  font-size: 11px;
  color: #2E86C1;
  text-decoration: underline;
}

.inline-link:hover {
  text-decoration: none;
  color: #2e86c17f;
}

.inline-link-ai:hover {
  color: #A93226;
}

/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}
