
/* Icons */

.footer-icon {
  width: 18px;
  height: 18px;
}

.link-icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}

/* Navbar Styling */

.navbar {
  padding: 30px 425px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  z-index: 10;
}

.nav-link {
  color: #97999a;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

.nav-link.active {
  /* color: black; */
  color: #cc3300;
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* Page visibility */

.page {
  display: none;
}

.page.active {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (max-width: 1600px) {
  .navbar {
    padding: 30px 275px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 30px 175px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 30px 75px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 65px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px 35px;
  }
}

/* Links */

.inline-link {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.inline-link:hover {
  text-decoration: none;
  color: #97999a;
}

/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 430px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}


@media only screen and (max-width: 1600px) {
  #footer {
    padding: 30px 280px;
  }
}

@media only screen and (max-width: 1200px) {
  #footer {
    padding: 30px 180px;
  }
}

@media only screen and (max-width: 1000px) {
  #footer {
    padding: 30px 80px;
  }
}

@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 55px;
  }
}
@media only screen and (max-width: 600px) {
  #footer {
    padding: 20px 25px;
  }
}